* {
    font-family: Helvetica,sans-serif;
}
button {
    border-radius: 25px;
    padding: 8px 15px;
    background-color: white;
    color: black;
}

.filled button, .icon button {
    background-color:#333333 ;
    color: white;
}
img {
    width: 12px;
    height: 12px;
}


button:hover {
    background: #006500;
    cursor: pointer;
    border: 1px solid #006500;
}